SPEKTRUM__ADMIN_PASSWORD=password123,another-password123
SPEKTRUM__SERVER__PORT=8765
SPEKTRUM__SERVER__CORS_ORIGINS=https://quiz.mycooldomain.com,https://myothercooldomain.se
SPEKTRUM__LOGGING__JSON=false
SPEKTRUM__STORAGE__TYPE=s3
SPEKTRUM__STORAGE__BUCKET=spektrum
SPEKTRUM__STORAGE__REGION=eu-central-003
SPEKTRUM__STORAGE__PREFIX=data
SPEKTRUM__STORAGE__QUESTION_FOLDER=my_question_folder
SPEKTRUM__STORAGE__QUESTION_FILE=questions.json
SPEKTRUM__STORAGE__ACCESS_KEY_ID=secretkeyid123
SPEKTRUM__STORAGE__SECRET_ACCESS_KEY=supersecretaccesskey123
